@color-white: #ffffff;
@color-gray: #666666;
@color-black: #000000;
@color-red: #ff0000;
@color-btn: #410cd9;

html,
body,
#app {
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
